	<div ui-tree="" id="tree_afo" class="main_content col-sm-6" data-drag-enabled="false" data-empty-placeholder-enabled="false" ng-repeat="treeData in tree().getTrees()">
 		<ol ui-tree-nodes="" ng-model="treeData">
			<li fs-tree-node ui-tree-node collapsed="false" ng-repeat="node in treeData"></li>
		</ol>
	</div>
<!-- <div tree-view="tree().trees[0]" class="main_content col-sm-6" node-label="title" item-ng-include="/src/views/fsTree/fs-tree-node.html"></div> -->
<!-- <div tree-view="tree().trees[1]" class="main_content col-sm-6" node-label="title" ></div> -->





